*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #080a2d;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    
}
.choice{
    height: 190px;
    width: 190px;
    display: flex;
    background-color: #EE5E2F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #ec774f;
}
img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2.5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: #080a2d;
    color: #fff;
    line-height: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}